@import "theme.css";

.table {
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  font-family: "Avenir Book", Arial, Helvetica, sans-serif;
  line-height: 1.75;
  border-spacing: 0px;
  overflow: hidden;
}

.table thead {
  background-color: var(--overlay-color);
  font-family: "Avenir Heavy", Arial, Helvetica, sans-serif;
  border-color: var(--overlay-color);
  white-space: nowrap;
}

.table td,
.table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.table tbody tr {
  position: relative;
  vertical-align: middle;
}

.table tbody tr:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 48px);
  left: 24px;
  background: var(--table-divider-color);
}

.table .list-layout {
  vertical-align: top;
}

.table .list-layout ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.table .list-layout ul > li .header {
  font-family: "Avenir Heavy", "Avenir", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.table .sort-button {
  border: none;
  margin-left: 8px;
  background-color: transparent;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  margin-top: 0px;
  margin-bottom: -4px;
  cursor: pointer;
}

.table .sort-button:hover {
  background-color: var(--primary-highlight-color);
}

.table .sort-button img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  background-color: transparent;
}

.table tr .row-select {
  padding-right: 0px;
}

.table tr.selected {
  background-color: var(--primary-highlight-color);
}

@media only screen and (min-width: 768px) {
  .table {
    border-radius: 16px;
    font-size: 18px;
  }
  .table tr .radio,
  table tr .checkbox {
    padding: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .table {
    font-size: 20px;
  }
  .table td,
  .table th {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .table .sort-button {
    height: 56px;
    width: 52px;
    margin-top: -14px;
    margin-bottom: -14px;
  }
}
